{{#if puedeCrearCancion}}
  <div class="list-group-item">
    {{input type="text" class="new-band" placeholder=nuevaCancionPlaceholder value=nuevoTitulo insert-newline="crearCancion" }}
    <button class="btn btn-primary btn-sm new-song-button" {{action "crearCancion"}}>Add</button>
    <select class="pull-right" onchange={{action (mut selectedSort) value="target.value"}}>
      {{#each sortOptions as |sortOption|}}
        <option value={{sortOption.id}} selected={{eq selectedSort sortOption.id}}>{{sortOption.name}}</option>
      {{/each}}
    </select>
  </div>
{{/if}}
{{#each cancionesOrdenadas as |cancion|}}
  <div class="list-group-item">
    {{cancion.titulo}}
    {{component puntaje item=cancion puntaje=cancion.puntaje puntajeMaximo=5 setAction="cambiarPuntaje"}}
  </div>
{{else}}
  {{#unless puedeCrearCancion}}
    <div class="list-group-item empty-list">
      <div class="empty-message">
        No hay canciones de {{artista.nombre}}. ¿Por qué no <a href="#" {{action "habilitarCreacionDeCancion"}}>creas
        una?</a>
      </div>
    </div>
  {{/unless}}
{{/each}}
