<div class="col-md-4">
  <div class="list-group">
    <div class="list-group-item">
      {{input type="text" class="new-band" placeholder="Nuevo artista" value=nuevoNombre insert-newline="crearArtista" }}
      <button class="btn btn-primary btn-sm new-band-button" {{action "crearArtista"}}
              disabled={{disabled}}>Agregar
      </button>
    </div>
    {{#each model as |artista|}}
      {{#link-to "artistas.artista.canciones" artista class="list-group-item band-link"}}
        {{artista.nombre}}
        <span class="pointer glyphicon glyphicon-chevron-right"></span>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
